.btt-card-outline {
    max-height: 25px;
    height: 100%;
    width: 100%;
}

.btt-card-inline {
    position: relative;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.btt-card-inline-text {
    margin: 0;
    background: white;
    position: absolute;
    left: 0;
    cursor: pointer;

    display: none;
    padding-left: 10px;
    bottom: -25px;
    animation: moveBottomToTop 5.2s;

    &:hover {
        color: #4B78A8;
    }
}

.btt-card-inline-text:nth-child(1) {
    display: block;
}

@keyframes moveBottomToTop {
    0% {
        bottom: -25px;
    }

    10% {
        bottom: 0;
    }

    90% {
        bottom: 0;
    }

    100% {
        bottom: 25px;
    }
}